<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md col-sm abt">
            <img class="d-block w-100" src="../../assets/pic4.jpg" height="500px">
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md col-sm">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md col-sm">
            <div class="jumbotron">
                <p class="lead"><strong>Sunrise Travel</strong> is a knowledge platform for the hotel, hospitality & travel
                    industry.
                    Professionals use our marketing, revenue management, technology and software insights, strategies
                    and actionable tips to get inspired, optimise revenue, innovate processes and improve customer
                    experience.
                    <br>
                    The strength of Sunrise Travel is that it consists of high quality and unique knowledge-base content.
                    Every article provides explanatory and actionable solutions.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md col-sm">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Contact us.
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                                placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="6" required></textarea>
                        </div>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary text-right">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
                <div class="card-body">
                    <p>Nagar Panchayat Gangapur</p>
                    <p>Sector No 10</p>
                    <p>Varanasi</p>
                    <p>Email : ajaymauryamca@gmail.com</p>
                </div>
            </div>
            <div id="map-container-google-2" class="z-depth-1-half map-container">
                <iframe class="d-block w-100"
                    src="https://maps.google.com/maps?q=Varanasi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<br>