  @media only screen and (max-width: 768px) {
    .abt img {
      height: 200px;
    }
  }


.map-container-2{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    iframe{
    left:0;
    top:0;
    height:262px;
    width:420px;
    }