.inline-text{
    margin-left: 20px;
  }
  .img-fluid {
    height: 238px;
}

.col-md-8 {
  width: 62.666667%;
}
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media only screen and (max-width: 600px) {
      /* div.facility {
        display: none;
      } */
  
      .inline-text{
        display: inline-table;
        margin-left: 38px;
        padding-left: 12px;
      }
  
      .checklist{
        padding-left: 10px;
      }
    }
  